@model Vote_with_Your_Wallet.Models.User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container login">
        <div class="login-box">
            <h1 class="mb-4">Login</h1>
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <button id ="login-btn" type="submit" class="btn btn-primary login-btn">Login</button>
        </div>
    </div>
    <script src="~/js/login.js"></script>
    }
